!!!
html(ng-app="ngChat")
  head
    meta(charset='utf8')
    title ngChat - Chat experiments
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(href='http://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
  body
    header
        .page-center
            h1 ngChat
            p.subtitle A simple chat
    block body