!!!
html(ng-app="ngChat")
  head
    meta(charset='utf8')
    title ngChat - Chat experiments
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(href='//fonts.googleapis.com/css?family=Lato', rel='stylesheet')
  body
    header
        .page-center
            h1 ngChat
            p.subtitle A simple chat
            p.by-author
                a(href='//cyrilf.com')
                    | by cyrilf
    block body